<div class="row mb-5">
<header class="col-sm-12">
<div class="row ">


       
        <div class="container-fluid col-12">
            <div class="row row-height-80">           

           <div class="logo col-md-4 col-sm-12">
              <a class="navbar-brand" href="#">
                  <img src="assets/images/logo.png" alt="" class="img-fluid">
              </a>
           </div>
        

      
           <div class="col-md-8">

            <nav class="navbar navbar-expand-lg col-12">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link "  href="#" routerLink="">Punto Uno</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/punto2">Punto Dos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link "routerLink="/punto5">Punto Cinco</a>
                  </li>
                </ul>
              </div>
            </nav>

           </div>
        </div>
          
        </div>
   
     
</div>
</header>
</div>