.menu{
 display: flex;
 color: white ;

}
header{
    background-color: black !important;
   
}
.navbar-nav li.nav-item a.nav-link {
    color: white;
  }
nav
{
    height: 100%;
}

.logo{
    width: 16rem;
}

.active{
 color: #F1B32A!important;
}

.color-toggle{
    background-color: white!important;
}

