
<div class="row">
    <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg col-12">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="" routerLink="formulario/0" class="btn btn-default" routerLinkActive="active">Agregar Ticket</a></li>
                <li  class="nav-item"><a href="" routerLink="lista" class="btn btn-default"routerLinkActive="active">Ver Registros</a></li>
                    
            </ul>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>
