


  <button type="button" class="btn carrito" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
   </button>


<!--PRODUCTOS-->
<section class="row">


  <div class="col-lg-3 col-md-4 mb-4 col-sm-6 " *ngFor="let producto of productos">

    <div class="card">
      <img src="assets/images/{{producto.img}}" class="card-img" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">{{producto.nombre}}</h5>
        <p class="card-text">{{producto.descripcion}}</p>
        
          <a href="#" class="btn boton" (click)="addToCart(producto)" >Sumar Al carrito</a>
          <div> </div> 
       
      </div>
    </div>
  </div>



</section>

  

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Carrito</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body" *ngIf="carrito.length>0">
         
            
            <div class="row" *ngFor="let item of carrito">
              
              <div class="col-12">

                <div class="row">

                  <div class="col-4">
                    <img src="assets/images/{{item.producto.img}}" class="img-fluid" alt="">
                  </div>

                <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <h6>{{item.producto.nombre}}</h6>
                 </div>

                 </div>
                 <div class="row">
                  <div class="col-6">
                     <h6>${{item.producto.precio}}</h6>
                  </div>

                  <div class="col-6">
                    <input  type="number" [(ngModel)]="item.cantidad" (input)="calculate()" class="form-control"/>
                 </div>
                </div>
                </div>


                  </div>
                </div>
              </div>

       
          <div class="col-12"><h5>Total: ${{total}}</h5></div>
       
            </div>

            <div class="modal-body" *ngIf="carrito.length<1">
              <div class="row">
                <div class="col-12">
                  <h6>No tienes productos en el carrito</h6>
               </div>
            </div>
            </div>
        
            <div class="modal-footer">
              <button type="button" class="btn color-btn" data-bs-dismiss="modal">Cerrar</button>
             
            </div>

        </div>

     
      </div>
    </div>
