
<div class="row fondo" *ngIf="jugando">
    <div class="col-sm-12">

        <div class="row">
            <h5 class="col-sm-3" [ngClass]="clase">Aciertos: {{acierto}}</h5>
            <h5 class="col-sm-3" [ngClass]="clase">Errores: {{error}} </h5>
            <h5 class="col-sm-3" [ngClass]="clase">Puntaje: {{puntaje}}</h5>
            <h5 class="col-sm-3">Pregunta n° {{indice+1}}</h5>
        </div>

    </div>

    <div class="col-12 pregunta">
    <h1 class="text-center">¿{{pregunta}} {{palabra}} ?</h1>
    </div>
    
    <div class="col-6  mb-4 my-2 " (click)="avanzar(opcion)" *ngFor="let opcion of opciones">
        <div class="opcion row justify-content-center align-items-center">
            <div class="text-center ">{{opcion.opcion}}</div>
          <!--  <div *ngIf="opcion.correcto">es la respuesta</div>-->
        </div>
       
    </div>

</div>

  


<div class="row" *ngIf="!jugando">
    <div class="col-12 text-center">
      <button class="btn btn-defecto btn-lg mx-auto"(click)="play()" >¡Empezar a Jugar!</button>
    </div>
  </div>


<div class="row" *ngIf="jugando">
  <div class="col-12 text-center">
    <button class="btn btn-defecto btn-lg mx-auto"(click)="jugando=false" >¡Salir!</button>
  </div>
</div>

  
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="llamarModal">
</button>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Puntaje Final</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
         
        <div class="row">
            <h2>Resultados Finales</h2>
            <h5 class="col-sm-3">Aciertos: {{acierto}}</h5>
            <h5 class="col-sm-3">Errores: {{error}} </h5>
            <h5 class="col-sm-3">Puntaje: {{puntaje}}</h5>
        </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn color-btn" data-bs-dismiss="modal" >Cerrar</button>
           
          </div>
     
      </div>
    </div>
