
<div class="row">

  <div class="col-sm-10"><h1>Registros de ventas</h1></div>
<button class="btn btn-primary col-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#tabla" (click)="cargarResumen()">Ver Resumen</button>

<div class="collapse col-sm-12" id="tabla">
  <table class="table">
    <thead>
      <tr>
        <th>Locales</th>
        <th>Extranjeros</th>
        <th>Totales</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{totalLocal}} Tickets</td>
        <td>{{totalExtranjeros}} Tickets</td>
        <td>{{totalVentas}} Tickets</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="row">
<table class="table col-sm-12 table-responsive">
    <thead>
      <tr >
        <th scope="col"></th>
        <th scope="col">Dni</th>
        <th scope="col">Tipo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Precio</th>
        <th scope="col">Cobrado</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of registros">
        <th scope="row">{{ticket.id}}</th>
        <td>{{ticket.dni}}</td>
        <ng-container *ngIf="ticket.tipo === 'l'; else tipoE">
          <td>Local</td>
        </ng-container>
        <ng-template #tipoE>
          <td>Extranjero</td>
        </ng-template>
        <td>{{ticket.fechaCobro | dateFormat}}</td>
        <td>{{ticket.precioReal | moneda}}</td>
        <td>{{ticket.precioCobrado | moneda}}</td>
        
        <td><button class="btn btn-danger" (click)="borrarTicket(ticket)">Borrar</button></td>
        <td><button class="btn btn-success" [routerLink]="['/formulario/'+ticket.id]">Editar</button></td>
      </tr>
    </tbody>
  </table>

</div>


